<div id="rules2">

  <ul class="tab">
    <li><a href="#" id="menu_1">Official Rules</a></li>
    <li><a href="#" id="menu_2">Privacy Policy</a></li>
  </ul>

<div id="rules_content">
  <div id="Rules" class="show">
    <h3>Offical Rules</h3>
    <p>These are rules...</p>
  </div>

  <div id="Policy" class="hide">
    <h3>Privacy Policy</h3>
    <p>This is a policy...</p>
  </div>
</div>
</div>
