body {
  background-color: #663399;
  text-align: center;
  margin: 0px;
  padding: 0px;

}
.hide{
  display: none;
}
.show{
  display:block;
}

#box {
  height: 380px;
  width: 550px;
  background-color: #551A8B;
  float: left;
  margin-left: 140px;
  margin-top: 25px;
}
#box2 {
  background-color: #663399;
  height: 150px;
  width: 550px;
  float: left;
  margin-left: 140px;
  margin-top: 20px;
  text-align: center;
}
#media-images {
  background-color: #663399;
  width: 200px;
  height: 150px;
  margin-left: 225px;
  float: left;
}
#email-link {
  background-color: white;
  float: left;
  text-align: center;
  color: #663399;
  padding: inherit;


}

p {
  padding-left: 15px;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-align: left;
  color: gray;
}

p.text {
  color: white;
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 500;
}

h3 {
  color: #663399;
  font-weight: 200;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

div {
  background-color: white;
  height: 635px;
  width: 450px;
  float: right;
}
/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {
  float: left;
}

/* Style the links inside the list items */
ul.tab li {
    display: inline-block;
    color: #663399;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;

}
/* Change background color of links on hover */
ul.tab li:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Create an active/current tablink class */
ul.tab li:focus, .active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
